<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome to Rock Paper Scissors Lizard Spock!</h1>
    <h1>Choose you mode ?</h1>
    <form action="/type" method="post">
      <input id="rock-button" type="radio" value="Single" name="type">Single Player
      <input id="paper-button" type="radio" value="Multi" name="type" >Multi Player
      <br>
      <br>
      <input id="names-submit" type="submit" value="Submit!">
    </form>
  </body>
</html>
