<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome to Rock Paper Scissors Lizard Spock!</h1>
    <h1>What are your names?</h1>
    <form action="/game" method="post">
      <p>Player 1: <input id="player1-name-textbox" type="text" name="player1"></p>
      <p>Player 2: <input id="computer" type="text" name="player2" ></p>
      <input id="names-submit" type="submit" value="Submit!">
    </form>
  </body>
</html>
