<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome to Rock Paper Scissors Lizard Spock!</h1>
    <h1>What is your name?</h1>
    <form action="/game2" method="post">
      <h2>Player : <input id="player1-name-textbox" type="text" name="player1"></h2>
      <input id="Computer" type="hidden" name="player2" value="Computer">
      <input id="names-submit" type="submit" value="Submit!">
    </form>
  </body>
</html>
